// Cirno - a Touhou ice-fairy theme (dark)
// https://github.com/brickfrog/cirno
// Install: copy to ~/.config/zellij/themes/ then set `theme "cirno"` in config.kdl

themes {
    cirno {
        // classic named-color form (widely supported)
        fg "#d4e4f5"
        bg "#0e1525"
        black "#16203a"
        red "#ec5a72"
        green "#84ddb2"
        yellow "#e8cd86"
        blue "#5b90e4"
        magenta "#b78ee2"
        cyan "#7ad6f0"
        white "#bdcfe6"
        orange "#eca06a"

        // newer UI-component spec
        text_unselected {
            base "#d4e4f5"
            background "#0e1525"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        text_selected {
            base "#d4e4f5"
            background "#2b3c60"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        ribbon_selected {
            base "#0e1525"
            background "#7ad6f0"
            emphasis_0 "#ec5a72"
            emphasis_1 "#e8cd86"
            emphasis_2 "#b78ee2"
            emphasis_3 "#5b90e4"
        }
        ribbon_unselected {
            base "#d4e4f5"
            background "#16203a"
            emphasis_0 "#ec5a72"
            emphasis_1 "#0e1525"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        table_title {
            base "#7ad6f0"
            background "#0e1525"
            emphasis_0 "#e8cd86"
            emphasis_1 "#84ddb2"
            emphasis_2 "#b78ee2"
            emphasis_3 "#5b90e4"
        }
        table_cell_selected {
            base "#d4e4f5"
            background "#2b3c60"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        table_cell_unselected {
            base "#d4e4f5"
            background "#0e1525"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        list_selected {
            base "#d4e4f5"
            background "#2b3c60"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        list_unselected {
            base "#d4e4f5"
            background "#0e1525"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        frame_selected {
            base "#7ad6f0"
            background "#0e1525"
            emphasis_0 "#e8cd86"
            emphasis_1 "#84ddb2"
            emphasis_2 "#b78ee2"
            emphasis_3 "#5b90e4"
        }
        frame_highlight {
            base "#e8cd86"
            background "#0e1525"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#f4849a"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        exit_code_success {
            base "#84ddb2"
            background "#0e1525"
            emphasis_0 "#7ad6f0"
            emphasis_1 "#e8cd86"
            emphasis_2 "#b78ee2"
            emphasis_3 "#5b90e4"
        }
        exit_code_error {
            base "#ec5a72"
            background "#0e1525"
            emphasis_0 "#f4849a"
            emphasis_1 "#e8cd86"
            emphasis_2 "#84ddb2"
            emphasis_3 "#b78ee2"
        }
        multiplayer_user_colors {
            player_1 "#7ad6f0"
            player_2 "#b78ee2"
            player_3 "#84ddb2"
            player_4 "#e8cd86"
            player_5 "#5b90e4"
            player_6 "#ec5a72"
            player_7 "#9fb6f2"
            player_8 "#eca06a"
            player_9 "#5fccc6"
            player_10 "#a4ebc8"
        }
    }
}
